body {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: inset 0 0 0 1000px rgba(255,255,255,.3);
}

li {
	display: inline;
	list-style-type: none;
	padding: 5px;
}

ul {
	font-family: "Courier New", Courier, monospace;
	font-size: 20px;
}

a {
	text-decoration: none;
	color: white;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2rem;
	text-align: center;
